[project]
	description = Demo purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Npanessar
[access "refs/for/refs/*"]
	read = group user/Npanessar
	push = group user/Npanessar
	label-Code-Review = -2..+2 group user/Npanessar
	label-Verified = -1..+1 group user/Npanessar
	rebase = group user/Npanessar
	removeReviewer = group user/Npanessar
	submit = group user/Npanessar
[access "refs/heads/*"]
	read = group user/Npanessar
	create = group user/Npanessar
	push = +force group user/Npanessar
	pushMerge = group user/Npanessar
[access "refs/tags/*"]
	push = group user/Npanessar
	push = +force group user/Npanessar
